<?xml version="1.0" encoding="utf-8"?> 

<debug value="it's demo debug" hidden="false"/>
<info>
	<collect>
	
    <!--
      interval : for the shortest connection trigger time, the frame interval is in milliseconds
    -->
		<seriallist>
      <!--<serial source="usb1" port="/dev/ttyUSB0" baudrate="9600" interval="100"/>-->
			<!--<serial source="usb2" port="COM1" baudrate="9600" interval="100"/>-->
			<!--<serial source="usb2" port="\\.\COM10\" baudrate="9600" interval="100"/>-->
		</seriallist>
		
</info>
